* {
  background-color: #222;
}

h2 {
  display: inline-block;
  width: 40%;
  text-align: center;
  font-family: Arial;
  font-size: 83px;
  margin: 0px 0px 60px 0px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: floralwhite;
}

.App-intro {
  font-size: large;
}

#start_button {
  height: 100px;
  width: 13%;
  margin: 100px auto 50px auto;
  border-radius: 3%;
  background-color: #880E4F;
  color: floralwhite;
  font-size: 65px;
  font-family: Arial;
}
#circle {
  display: none;
  margin-left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: red;
  animation: blink 2s infinite;
}

#message {
  font-size: 70px;
  font-family: Arial;
  color: #757575;
}

@keyframes blink {
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
